<div #sidenav__container class="sidenav-container">
    <div class="sidenav-collapse">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--Breadcrumb"></i>
            <!-- <span class="sidenav-title">
            </span> -->
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--Home"></i>
            <span class="sidenav-title">
                Acceuil
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--BIDashboard"></i>
            <span class="sidenav-title">
                Dashboard
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--Inbox"></i>
            <span class="sidenav-title">
                boite de reception
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--Contact"></i>
            <span class="sidenav-title">
                Enseignants
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--People"></i>
            <span class="sidenav-title">
                Etudiants
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--TextDocument"></i>
            <span class="sidenav-title">
                Programmers Scolaire
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--TextDocument"></i>
            <span class="sidenav-title">
                Cours publiées
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--TextDocument"></i>
            <span class="sidenav-title">
                Programme
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--TextDocument"></i>
            <span class="sidenav-title">
                Finances
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--TextDocument"></i>
            <span class="sidenav-title">
                Classes
            </span>
        </span>
    </div>
    <div class="sidenav-item">
        <span class="flex-layout">
            <i class="sidenav-icon ms-Icon ms-Icon--TextDocument"></i>
            <span class="sidenav-title">
                Paramètres
            </span>
        </span>
    </div>
    <div class="sidenav-background">
        
    </div>
</div>