<div class="app-toolbar">
    <span class="toolbar-brand">Scholar</span>
    <div class="toolbar-search-bar search-bar">
        <span class="search-bar-icon ms-Icon ms-Icon--Zoom"></span>
        <div class="search-bar-input-container">
            <input type="text" autocomplete="off" class="search-bar-input">
        </div>
    </div>
    <div class="toolbar-action">
        <span class="toolbar-button" id="notification-panel-button">
            <i class="ms-Icon ms-Icon--Ringer"></i>
        </span>

        <span class="toolbar-button" id="message-panel-button">
            <i class="ms-Icon ms-Icon--Message"></i>
        </span>
        <span class="toolbar-button" id="event-panel-button">
            <i class="ms-Icon ms-Icon--CalendarDay"></i>
        </span>
        <span class="toolbar-button" id="settings-panel-button">
            <i class="ms-Icon ms-Icon--Settings"></i>
        </span>
        <span class="toolbar-button toolbar-avatar" id="account-panel-button">
            <img class="toolbar-avatar-img" src="/assets/user.png" alt="user_Avatar">
        </span>
    </div>

</div>
<div class="left-panel" id="account-panel">
    <div class="panel-title">
        <span class="panel-title-text">Mon Compte</span>
        <i class="ms-Icon ms-Icon--Cancel panel-close-button"></i>
    </div>
</div>
<div class="left-panel" id="settings-panel">
    <div class="panel-title">
        <span class="panel-title-text">Parametres</span>
        <i class="ms-Icon ms-Icon--Cancel panel-close-button"></i>
    </div>
</div>
<div class="left-panel" id="event-panel">
    <div class="panel-title">
        <span class="panel-title-text">Votre Journée</span>
        <i class="ms-Icon ms-Icon--Cancel panel-close-button"></i>
    </div>
</div>
<div class="left-panel" id="message-panel">
    <div class="panel-title">
        <span class="panel-title-text">Messages</span>
        <i class="ms-Icon ms-Icon--Cancel panel-close-button"></i>
    </div>
</div>
<div class="left-panel" id="notification-panel">
    <div class="panel-title">
        <span class="panel-title-text">Notifications</span>
        <i class="ms-Icon ms-Icon--Cancel panel-close-button"></i>
    </div>
</div>